:root {
  --body-bg: #e0e0e0;
  --paper-bg: white;
  --header-background: #9fddd3;
  --header-text: #000;
  --body-right: #eaf7f5;
  --body-right-tag: #01172F;
  --body-right-head: #e6e7e8;
  --body-right-text: black;
  --body-left-tag: #01172F;
  --body-left-head: #e6e7e8;
  --body-left-text: black;
  --body-left-underscore: #0000;
  --button-color: #fff; }

.dark_theme {
  --body-bg: #1a1a1a;
  --paper-bg: #202020;
  --header-background: #303030;
  --header-text: #e6e7e8;
  --body-right: #f6b64c;
  --body-right-tag: #202020;
  --body-right-head: #e6e7e8;
  --body-right-text: black;
  --body-left-tag: #0000;
  --body-left-head: #e6e7e8;
  --body-left-text: #e6e7e8;
  --body-left-underscore: #e6e7e8;
  --button-color: #303030; }

.print_theme {
  --header-background: #fff;
  --header-text: #000;
  --border: #909090;
  --body-right: #fff;
  --body-right-text: white;
  --body-right-tag: white;
  --body-right-head: black;
  --body-right-text: black;
  --body-left-tag: #0000;
  --body-left-head: black;
  --body-left-text: black;
  --body-left-underscore: black;
  --button-color: #fff; }
  .print_theme .noprint {
    display: none !important; }

body {
  margin: 0;
  padding: 3em 0;
  background-color: var(--body-bg);
  font-family: serif; }

.theme {
  display: flex; }

main {
  width: 210mm;
  height: 297mm;
  margin: auto;
  box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--paper-bg);
  display: flex;
  flex-direction: column; }

@media print {
  body {
    margin: 0;
    padding: 0; }
  .theme {
    display: none !important; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background); }
  header .name {
    padding: 1cm; }
    header .name .fname {
      font-size: 4rem;
      margin: 0;
      padding: 0;
      line-height: 3.5rem;
      color: var(--header-text); }
    header .name .lname {
      font-size: 3rem;
      margin: 0;
      padding: 0;
      line-height: 2.5rem;
      color: var(--header-text); }
  header .contact-details {
    padding: 1cm;
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem; }

.print_theme header {
  border-bottom: 2px solid var(--border) !important; }

.body {
  display: flex;
  flex-direction: row;
  flex-grow: 1; }
  .body .left {
    width: 60%;
    padding: 1cm 0; }
  .body .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--body-right);
    padding: 1cm 0; }

.print_theme .body .left {
  border-right: 2px solid var(--border); }

.r-body {
  padding-right: 0.5cm; }

.r-itemlist li {
  margin-top: 0.5rem; }

.r-itemlist li:first-child {
  margin-top: 0; }

.container {
  display: flex;
  flex-direction: row;
  column-gap: 0.2cm; }
  .container .img {
    display: flex; }
    .container .img svg {
      width: 1rem;
      height: 1rem;
      margin: 0;
      padding: 0; }
    .container .img .fill {
      fill: var(--header-text) !important; }
    .container .img .stroke {
      stroke: var(--header-text) !important; }
  .container span {
    font-size: 1rem;
    color: var(--header-text); }
    .container span a {
      color: var(--header-text);
      text-decoration: none; }

.floating_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 0.4rem;
  border: none;
  background-color: var(--button-color);
  border-radius: 5px;
  position: fixed;
  top: 0rem;
  right: 0%;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  transition: scale 0.25s; }
  .floating_button:hover {
    scale: 1.1; }
  .floating_button img {
    width: 0.8cm; }

.itemlist h1 {
  padding: 0;
  margin: 0;
  font-size: 1.10rem; }

.itemlist h2 {
  padding: 0;
  margin: 0;
  font-size: 1rem; }

.itemlist h3 {
  padding: 0;
  margin: 0;
  font-size: 1rem; }

.itemlist span {
  font-size: 0.8rem; }

.lefthead {
  display: flex;
  flex-direction: column-reverse;
  position: relative; }
  .lefthead .line {
    margin: 0 auto;
    top: calc(50% - 0.5rem);
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 0; }
    .lefthead .line::before {
      content: ' ';
      background-color: var(--body-left-underscore);
      height: 0.2rem;
      border-radius: 2px; }
  .lefthead h1 {
    font-size: 2rem;
    font-weight: bolder;
    background-color: var(--body-left-tag);
    color: var(--body-left-head);
    z-index: 1;
    padding: 0.2rem 1rem;
    margin: 0; }
  .lefthead p {
    font-size: 1.3rem;
    padding-top: none; }

.l-heading {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  padding: 0 1cm; }
  .l-heading .lefthead h1 svg {
    fill: var(--body-left-text);
    width: 1.5rem;
    height: 1.5rem; }
  .l-heading p {
    font-size: 1.05rem;
    margin-top: 0; }
  .l-heading * {
    color: var(--body-left-text); }

.righthead {
  display: flex;
  position: relative;
  justify-content: center; }
  .righthead .line {
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 0.5rem);
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0; }
    .righthead .line::after, .righthead .line::before {
      content: ' ';
      width: 100%;
      height: 0.3rem;
      background-color: var(--body-right-tag); }
  .righthead h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: var(--body-right-tag);
    color: var(--body-right-head);
    z-index: 1;
    padding: 0.2rem 1rem;
    margin: 0; }

.r-heading {
  width: 100%;
  flex-grow: 0;
  display: flex;
  flex-direction: column; }
  .r-heading * {
    color: var(--body-right-text); }
  .r-heading .righthead h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem; }
    .r-heading .righthead h1 svg {
      fill: var(--body-right-head);
      width: 1.5rem;
      height: 1.5rem; }
