.body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .left {
        width: 60%;
        padding: 0.7cm 0;
    }
    .right {
        width: 40%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--body-right);
        padding: 0.8cm 0;
    }
}

.print_theme {
    .body {
        .left {
            border-right: 2px solid var(--border);
        }
    }
}

.r-body {
    padding-right: 0.5cm;
}

.r-itemlist {
    li{
        margin-top: 0.5rem;
    }
    
    li:first-child {
        margin-top:0;
    }
}

.circle {
    position: absolute;
    border-radius: 50%;
    &::before {
        position: absolute;
        content: " ";
        top: 20%;
        left: 20%;
        width: 60%;
        height: 60%;
        border-radius: 50%;
    }
}

.vertical-line {
    position: absolute;
    top: 0;
    left: 0.9rem;
    width: 0.2rem;
    height: 100%;
}