.body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .left {
        width: 60%;
    }
    .right {
        width: 40%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--body-right);
        padding: 1cm 0;
    }
}

.print_theme {
    .body {
        .left {
            border-right: 2px solid var(--border);
        }
    }
}

.r-body {
    padding-right: 0.3cm;
    li{
        margin-top: 0.5rem;
    }
    
    li:first-child {
        margin-top:0;
    }
}