:root {
    --body-bg: #e0e0e0;
    --paper-bg: white;
    --header-background: #9fddd3;
    --header-text: #000;
    --body-right: #eaf7f5;

    --body-right-tag: #01172F;
    --body-right-head: #e6e7e8;
    --body-right-text: black;

    --body-left-tag: #01172F;
    --body-left-head: #e6e7e8;
    --body-left-text: black;
    --body-left-underscore: #0000;
    --skill-tag: #cae6fe;
    --skill-text: black;
    
    --button-color: #fff;

    --profile-border: #01172F;
}

.dark_theme {
    --body-bg: #1a1a1a;
    --paper-bg: #202020;
    --header-background: #303030;
    --header-text: #e6e7e8;

    --body-right: #f6b64c;
    --body-right-tag: #202020;
    --body-right-head: #e6e7e8;
    --body-right-text: black;

    --body-left-tag: #0000;
    --body-left-head: #e6e7e8;
    --body-left-text: #e6e7e8;
    --body-left-underscore: #e6e7e8;

    --skill-tag: #f15c5e;
    --skill-text: white;

    --button-color: #303030;

    --profile-border: #f15c5e;
}

.print_theme {
    --header-background: #fff;
    --header-text: #000;
    --border: #909090;

    --body-right: #fff;
    --body-right-text: white;
    --body-right-tag: white;
    --body-right-head: black;
    --body-right-text: black;
    
    --body-left-tag: #0000;
    --body-left-head: black;
    --body-left-text: black;
    --body-left-underscore: black;
    
    --button-color: #fff;
    --skill-tag: #0000;
    --skill-text: #000;

    .noprint {
        display: none !important;
    }

    .circle {
        &::before {
            background-color: #0000 !important;
        }
    }

    .skills-tag {
        div {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}