.container {
    display: flex;
    flex-direction: row;
    column-gap: 0.2cm;
    .img {
        display: flex;
        svg {
            width: 1.4rem;
            height: 1.4rem;
            margin: 0;
            padding: 0;
        }
        .fill {
            fill: var(--header-text) !important;
        }
        .stroke {
            stroke: var(--header-text) !important;
        }
    }
    span {
        font-size: 1.2rem;
        color: var(--header-text);
        a {
            color: var(--header-text);
            text-decoration: none;
        }
    }
}