header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    .ProfileImage {
        width: 2.5cm;
        padding-left: 0.5cm;
        
        display: flex;
        .profile_img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10%;
            border: 0.2cm solid var(--profile-border);
        }
    }
    .name {
        padding: 1cm;
        padding-left: 0cm;
        .fname {
            font-size: 4rem;
            margin: 0;
            padding: 0;
            line-height: 3.5rem;
            color: var(--header-text);
        }
        .lname {
            font-size: 3rem;
            margin: 0;
            padding: 0;
            line-height: 2.5rem;
            color: var(--header-text);
        }
    }
    .contact-details {
        padding: 1cm;
        display: flex;
        flex-direction: column;
        row-gap: 0.2rem;
    }
}

.print_theme {
    header {
        border-bottom: 2px solid var(--border) !important;
        .name {
            padding-left: 1cm;
        }
    }
}