.lefthead {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    .line {
        margin: 0 auto;
        top: calc(50% - 0.5rem);
        width: 100%;
        display: flex;
        flex-direction: column;
        &::before {
            content: ' ';
            background-color: var(--body-left-underscore);
            height: 0.2rem;
            border-radius: 2px;
        }
        z-index: 0;
    }
    h1 {
        font-size: 2rem;
        font-weight: bolder;
        background-color: var(--body-left-tag);
        color: var(--body-left-head);
        z-index: 1;
        padding: 0.2rem 1rem;
        margin: 0;
    }
}