.r-heading {
    width: 100%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;

    .righthead {
        h1 {
            svg {
                fill: var(--body-right-text);
                width: 1.5rem;
                height: 1.5rem;
            }
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 0.5rem;
        }
    }
}